<div class="container">
  <div class="content">
    <!-- Lado do Tabuleiro -->
    <div class="tabuleiro">
      <!-- espaço vazio + letras A-J -->
      <div class="celula cabecalho espaco-vazio"></div>
      <div *ngFor="let letra of colunas" class="celula cabecalho">
        {{ letra }}
      </div>

      <!-- tabuleiro -->
      <ng-container *ngFor="let linha of playerTabuleiro; let x = index">
        <!-- numero da linha -->
        <div class="celula cabecalho">{{ x + 1 }}</div>
        <div
          *ngFor="let celula of linha; let y = index"
          class="celula"
          [ngClass]="{
            navio: celula === 'navio',
            acertado: celula === 'acertado'
          }"
        ></div>
      </ng-container>
    </div>

    <!-- formato de chat para digitar cordenada -->
    <div class="chat">
      <div class="chat-box">
        <div class="chat-header">
          <br />
          <span>Bem-vindo ao chat!</span>
        </div>
        <!-- mensagem do jogador com coordenada -->
        <div *ngIf="coordenadaPlayer" class="chat-message-player">
          <p style="background-color: lightblue">{{ coordenadaPlayer }}</p>
        </div>
        <!-- mensagem do pc se acertou ou nao -->
        <div *ngIf="mensagemBot" class="chat-message-pc">
          <p style="background-color: #f94f6d">{{ mensagemBot }}</p>
        </div>
        <!-- mensagem com coordenada pc -->
        <div *ngIf="coordenadaBot" class="chat-message-pc">
          <p style="background-color: #f94f6d">{{ coordenadaBot }}</p>
        </div>
        <!-- mensagem pós ataque pc -->
        <div *ngIf="mensagemPlayer" class="chat-response-pc">
          <p style="background-color: lightgrey">{{ mensagemPlayer }}</p>
        </div>
      </div>
      <div class="chat-input">
        <input
          [(ngModel)]="coordenadaPlayer"
          (ngModelChange)="limparMensagens()"
          type="text"
          maxlength="3"
          placeholder="Envie a cordenada"
          [disabled]="final"
          (keydown.enter)="atacarNavios()"
        />
        <button [disabled]="final" (click)="atacarNavios()" style="background-color: #ead624">
          Retaliar!
        </button>
      </div>
    </div>
  </div>

  <div class="placar">
    <div class="fundo">
      <div class="row">
        <div class="col col-heading">
          <h1>VOCÊ</h1>
        </div>
        <div class="col col-display" id="placarJogador">
          {{ placarJogador }}
        </div>
      </div>
      <div class="row">
        <div class="col col-heading">
          <h1>BOT</h1>
        </div>
        <div class="col col-display" id="placarPC">{{ placarBot }}</div>
      </div>
    </div>
  </div>
</div>
