.footer {
  display: inline-block;
  flex-direction: row;
  font-size: 15px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  flex-shrink: 0;
  width:100%
}
